.most-popular {
  .most-popular__content {
    padding-bottom: 6.7%;
  }

  .most-popular__title {
    font-size: 1.875rem;
    color: #171717;

    &:not(:last-child) {
      margin-bottom: 1.6875rem;
    }
  }

  .most-popular__posts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5%;
    row-gap: 1.875rem;
  }

  .most-popular__post {
    flex: 0 1 16.875rem;
  }
}
