.page {
  flex: 1 1 auto;
  padding-top: 7.5rem;
}

.vehicle {
  .vehicle__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    color: #fff;
    padding-bottom: 6.3%;
  }

  .vehicle__column {
    display: flex;
    flex: 0 1 23.3125rem;
    flex-direction: column;
    gap: 1.3125rem;
  }
}

.article-column {
  max-width: 100%;
  height: 100%;

  .article-column__content {
    position: relative;
  }

  .article-column__label {
    position: absolute;
    display: block;
    top: 9.4%;
    left: 5.6%;
    width: 3.875rem;
    height: 1.375rem;
  }

  .article-column__image {
    & img {
      width: 100%;
      object-fit: cover;
    }
  }

  .article-column__text-info {
    position: absolute;
    left: 5.3%;
    bottom: 8.4%;
    &:hover {
      text-decoration: underline;
    }
  }

  .text-info_bottom {
    bottom: 4%;
  }
}

.text-info {
  .text-info__time {
    font-weight: 400;
  }

  .text-info__title {
    font-size: 1.25rem;
    line-height: 150%;

    &:not(:last-child) {
      margin-bottom: 0.625rem;
    }
  }
}

.label_top {
  top: 4.8% !important;
}

/* MEDIA (PC) */

@media (max-width: 1190px) {
  .text-info {
    .text-info__title {
      font-size: 1.25rem;
    }
  }
}

/* MEDIA (PHONE) */

@media (max-width: 767px) {
  .page {
    padding-top: 5rem;
  }
}
