.footer {
  background-color: #171717;

  .footer__content {
    display: flex;
    flex-wrap: wrap;
    gap: 8.2%;
    row-gap: 1.875rem;
    color: #fff;
    padding: 5.2% 0px 4.1% 0px;
  }

  .footer__column {
    flex: 0 1 16.875rem;
  }
}

.column-footer {
  .column-footer__logo:not(:last-child) {
    margin-bottom: 11.1%;
  }

  .column-footer__text {
    font-weight: 400;
    color: #cecece;

    &:not(:last-child) {
      margin-bottom: 23.7%;
    }
  }

  .column-footer__title {
    font-size: 1.25rem;

    &:not(:last-child) {
      margin-bottom: 10.3%;
    }
  }
}

.social {
  .social__title {
    font-size: 1.25rem;

    &:not(:last-child) {
      margin-bottom: 8.5%;
    }
  }

  .social__items {
    display: flex;
    gap: 0.9375rem;
  }

  .social__item {
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}

.info-text {
  .info-text__title {
    display: inline-block;
    font-size: 0.9375rem;
    line-height: 173%;

    &:not(:last-child) {
      margin-bottom: 11.8%;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  .info-text__time {
    font-style: italic;
    font-weight: 400;
    color: #cecece;
  }
}

.posts-footer {
  .posts-footer__post {
    display: flex;
    height: 8.75rem;
    gap: 1.25rem;

    &:not(:last-child) {
      margin-bottom: 9.2%;
    }

    & .post__image {
      margin-bottom: 0;
    }

    & .post__image img {
      max-width: none;
    }
  }
}

.email {
  .email__title_white {
    color: inherit;

    &:not(:last-child) {
      margin-bottom: 14%;
    }
  }

  .email__input_dark {
    background-color: #373737;
    
    &::placeholder {
      color: #aeb3bb;
    }
  }
}

/* COPYRIGHT */

.footer-copyright {
  background-color: #000;

  .footer-copyright__content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.875rem;
    color: #ffffff;
    padding: 3.1% 0px;
  }

  .footer-copyright__text {
    font-weight: 400;
  }

  .footer-copyright__menu {
    flex: 1 1 auto;
  }

  .menu__list {
    justify-content: flex-end;
    gap: 2.1875rem;
  }
}

/* MEDIA (TABLET) */

@media (max-width: 786px) {
  .footer {
    .footer__content {
      justify-content: center;
    }
  }
}

/* MEDIA (MOBILE) */

@media (max-width: 561px) {
  .footer-copyright__menu {
    .menu__list {
      gap: 1.25rem;
    }
  }
}
