*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
}

h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd,
body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
}

body {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 171%;
  color: #666;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*="__container"] {
  max-width: 1190px;
  margin-inline: auto;
  padding-inline: 10px;
}
